.a1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

.a3{
    background-color: yellow;
}

.a2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
}

li{
    font-style: italic;
}